<h1 class='mat-title'>Create a New List</h1>
<form #f='ngForm'>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="List Name" [(ngModel)]='myNewList' name='myNewList' type='text' required>
      </mat-form-field>
      <div class='dialog-actions'>
          <button class='dialog-button' mat-raised-button color='primary' (click)='save()'>
              Create List
            </button>
            <button class='dialog-button' mat-raised-button (click)='close()'>
                Cancel
              </button>
      </div>
  </form>