<mat-toolbar color="primary" class='mat-elevation-z6'>
    <span>What to do When</span>

    <nav>
        <a mat-button routerLink='lists'>Lists</a>
        <a mat-button routerLink='profile'>Profile</a>
    </nav>

    <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div *ngIf='auth.user | async; then authenticated else guest'></div>
    <ng-template #guest>
        <a mat-button routerLink='profile'>Login</a>
      </ng-template>
      
      <ng-template #authenticated>
          <ng-container *ngIf='auth.user | async as user'>
            <button mat-button (click)='auth.logout()'>Logout</button>
            </ng-container>
      </ng-template>
  </mat-toolbar>

  <router-outlet></router-outlet>